html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, linear-gradient(bottom, rgb(7,38,76) 0%, rgb(3,17,34) 100%);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, -o-linear-gradient(bottom, rgb(7,38,76) 0%, rgb(3,17,34) 100%);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, -moz-linear-gradient(bottom, rgb(7,38,76) 0%, rgb(3,17,34) 100%);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, -webkit-linear-gradient(bottom, rgb(7,38,76) 0%, rgb(3,17,34) 100%);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, -ms-linear-gradient(bottom, rgb(7,38,76) 0%, rgb(3,17,34) 100%);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWP4//+/FDGY4f///1IMxIBRhVRRCAAhUjq2mEnf3QAAAABJRU5ErkJggg==) repeat, -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(7,38,76)),
		color-stop(0.71, rgb(3,17,34))
	);
}
#main {
	padding: 32px 0;
}
#canvas {
	background: rgba(251,176,59,0.07);
	height: 600px;
	margin: 0 auto;
	text-align: left;
	width: 800px;
	border: 1px solid rgba(255, 255, 255, 0.35);
}
